@charset "UTF-8";
/* CSS Document */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
	margin-left: auto;
	margin-right: auto;
  margin-top:0;
	width: auto;
	padding-left: 2%;
	padding-right: 2%;
}
.content {
  margin-left:5%;
  margin-right:5%;
}
/* Header */
header {
	text-align: center;
	width: 115%;
	margin-left: -2.5%;
	margin-right:-2.5%;
}
.text_column{
	text-indent: 50px;
}
.navBar {
 position: relative;
  margin-bottom: 20px;
  border-radius:5px;
  margin-top:0;
}
.navBar > li {
  display: inline-block;
}
a:link, a:visited {
  text-decoration: none;
  font-size:.85em;
  color:#337ab7;
}
.navBar > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.navBar > .active {
  color: #777;
  font-size:.85em;
}
.peacockLogo {
	background-color: #183540;
	text-align: left;
	border-radius: 0;
	max-height:70px;
	width:100%;
  border-radius:5px;
}
.peacockLogo .profileLogo {
	margin: 7px;
}
.hero{
	clear:all;
}